@use "./partials/_base"
@use "./partials/_variables"
@use "./partials/_icons"
@use "./partials/_mixins"
@use "./partials/_responsive"
@use "../../node_modules/bootstrap/scss/bootstrap.scss"





nav
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 1%
    padding-right: 1%
    height: 50px
    position: sticky
    top: 0
    background-color: rgb(120, 70, 209)
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
    z-index: 10
    margin-bottom: -50px
    div:first-of-type
        display: flex
        width: 50%
        gap: 25px
        img
            height: 30px
        // h1
        //     font-weight: bolder
        //     font-size: 20px
        //     margin: 0
        //     span
        //         color: rgb(130, 54, 140)
        ul
            display: flex
            align-items: center
            justify-content: space-around
            margin: 0
            padding: 0
            list-style: none
            gap: 15px
            font-size: 14px
            li
                a
                    text-decoration: none
                    color: white
    div:last-of-type
        width: 50%
        display: flex
        justify-content: flex-end
        button
            background-color: white
            color: rgb(120, 70, 209)
            border: none
            padding: 5px 25px
            border-radius: 10px
            transition: 0.3s ease
        button:hover
            background-color: rgb(244, 238, 255)
            color: rgb(120, 70, 209)

header
    // background-image: linear-gradient(rgba(194, 141, 203, 0.5), rgba(255, 255, 255, 1))
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 700px
    display: flex
    justify-content: center
    align-items: center
    padding-left: 5%
    position: relative
    overflow: hidden
    .fond
        position: absolute
        bottom: 0
        left: 0
        z-index: 1
        width: 100%
        height: 100%
        background-image: linear-gradient(rgba(120, 70, 209,0.5), rgba(255, 255, 255, 1))
    video
        z-index: 0
        position: absolute
        top: -100px
        left: 0
        width: 100%
    div
        margin-top: 50px
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        z-index: 2
        h1
            color: white
            font-size: 40px
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4)
        button
            margin-top: 20px
            background-color: rgb(120, 70, 209)
            color: rgb(255, 255, 255)
            padding: 5px 25px
            padding-bottom: 8px
            border-radius: 10px
            transition: 0.3s ease
            font-size: 20px
            border: none
            display: flex
            justify-content: center
            align-items: center
        button:hover
            background-color: rgb(153, 94, 255)
            color: white

#about
    padding-top: 100px
    padding-bottom: 100px
    display: flex
    justify-content: center
    align-items: center
    gap: 50px
    > div
        display: flex
        justify-content: center
        align-items: center
        width: 60%
        gap: 50px
        > div:first-of-type
            width: 50%
            display: flex
            align-items: center
            justify-content: flex-start
            img
                width: 100%
        > div:last-of-type
            width: 50%
            display: flex
            flex-direction: column
            gap: 10px
            align-items: flex-start
            h1
                color: rgb(121, 70, 209)
            

#features
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 100px
    padding-bottom: 100px
    >div:first-of-type
        margin-bottom: 50px
        border-bottom: 5px solid rgb(121, 70, 209)
        width: 200px
        text-align: center
        border-radius: 5px
        h1
            color: black

    >div:last-of-type
        width: 60%
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        gap: 100px
        > div:first-of-type
            display: flex
            align-items: center
            justify-content: space-between
            height: 300px
            border-radius: 10px
            width: 100%
            gap: 50px
            border-left: 10px solid rgb(52, 53, 206)
            div:first-of-type
                img
                    width: 350px
                    border-radius: 10px
            div:last-of-type
                display: flex
                align-items: flex-start
                justify-content: center
                flex-direction: column
                wid
                h4
                    font-size: 20px
        > div:nth-of-type(2)
            display: flex
            align-items: center
            justify-content: space-between
            height: 300px
            border-radius: 10px
            width: 100%
            gap: 50px
            border-right: 10px solid rgb(121, 70, 209)
            div:last-of-type
                img
                    height: 300px
                    border-radius: 10px
            div:first-of-type
                display: flex
                justify-content: center
                flex-direction: column
                text-align: right
                h4
                    font-size: 20px
        > div:last-of-type
            display: flex
            align-items: center
            justify-content: space-between
            height: 300px
            border-radius: 10px
            width: 100%
            gap: 50px
            border-left: 10px solid rgb(107, 84, 238)
            div:first-of-type
                img
                    height: 300px
                    border-radius: 0px 10px 10px 0px
            div:last-of-type
                display: flex
                align-items: flex-start
                justify-content: center
                flex-direction: column
                wid
                h4
                    font-size: 20px
footer
    display: flex
    justify-content: center
    align-items: center
    height: 50px
    background-color: white
    border-top: 1px solid rgba(130, 54, 140, 0.25)
    p
        margin: 0
        color: black
            
